*{
    padding: 0;
    margin: 0;
    font-family: "Quattrocento", serif;
    
}
body{
    background-color: rgb(231, 226, 226);
    width: 100%;
    height: 100vh;
}
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(231, 226, 226);
}
.navbar{
    position: fixed;
    z-index: 40;
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(231, 226, 226);
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(59, 45, 17);
    text-transform: uppercase
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #fcb05a;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
footer{
    position: absolute;
    bottom: -1000px;
    left: 0;
    right: 0;
    background-image: url(pics/ghiblifooter.jpg);
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
    overflow: hidden;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: #04470b;
}
